extends ../layout

block content

    script(src='/javascripts/config.js')
    
    h1 Configurações
    
    div.bs-glyphicons
        ul.bs-glyphicons-list
            li.pointer.users-link
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="glyphicon-class">Editar Usuários</span>
