extends ../layout

block menu
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') LSSHelpDesk :)
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.menu-item.active
                        a(href='#') Solicitacões
                    li.menu-item
                        a(href='#about') Meus Projetos
                    li.menu-item
                        a(href='#contact') Minhas Horas
                    li.menu-item
                        a(href='#contact') Módulos do Sistema 
                    li.menu-item
                        a(href='#contact') Config.
                ul.nav.navbar-nav.navbar-right
                    li.menu-item.off
                        a(href='#') Sair
    block content
